:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --header-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --center-page-color: #e5e5e5;
  --page-bottom-color: #f5f4fa;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --logo-style: #000000;
  --text-transpwhite-color: #ffffff99;
  --accent-secondary-color: #188ce8;
  --border-main-color: #ececec;
  --social-color: #afb1b8;
  --social-bg-color: #ffffff1a;
  --backdrop-bg: rgba(0, 0, 0, 0.2);
  --modal-bg: #fff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  margin: 0;
}

ul,
ol {
  list-style: none;
}

.logo__text {
  text-decoration: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logotype {
  background-color: var(--header-background-color);
  border-bottom: 1px solid #ececec;
}
.logotype .container {
  display: flex;
  align-items: center;
}

.logo-link {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__header {
  font-family: "Raleway", sans-serif;
  color: var(--logo-style);
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navigation__list {
  display: flex;
  margin-left: 93px;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    margin-left: 38px;
  }
}

.navigation__list:not(:first-child),
.contacts:not(:first-child) {
  margin-left: 50px;
}

.navigation__link {
  display: block;
  padding: 32px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

@media screen and (max-width: 767px) {
  .haader > .site-contacts .connection {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .site-contacts__email {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .site-contacts__email {
    padding-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .site-contacts__telephone {
    display: none;
  }
}

.connection {
  padding-left: 0;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .connection {
    display: flex;
  }
}

.site-contacts-link,
.info:hover {
  color: var(--accent-color);
}

.info {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 3px;
}

/*------------icons------------*/
.site-contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.basement__item {
  text-align: center;
}
.basement__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .basement__item {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .header .navigation {
    display: none;
    height: 60px;
    padding: 0;
  }
}

.header-logo {
  color: #212121;
}

.logo-link {
  margin-left: 15px;
  width: 134px;
  height: 28px;
}

.open-menu {
  border-color: white;
  border: 0;
  padding: 0;
  margin: 15px;
  background-color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .open-menu {
    display: none;
  }
}
.open-menu .open-menu__icon {
  width: 40px;
  height: 40px;
}

.mob-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mob-menu.is-open {
  transform: translateX(0);
}

.mob-menu-close {
  position: fixed;
  right: 15px;
  top: 10px;
  border: 0;
  padding: 0;
  margin: 10px 15px 0 0;
  background-color: var(--white-color);
}

.mob-menu-icon-close {
  border-color: white;
}
.mob-menu-icon-close:hover {
  fill: var(--accent-color);
}

.mob-menu-nav .text-logo {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .list {
    padding-top: 48px;
  }
}

.mob-menu-item {
  padding-bottom: 35px;
}

.mob-menu-link {
  padding-bottom: 32px;
  width: 219px;
  height: 48px;
  left: 35px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
@media screen and (max-width: 479px) {
  .mob-menu-link {
    font-size: 35px;
  }
}

.mob-contacts-email {
  padding-top: 32px;
}

.mob-contacts-link-email {
  width: 231px;
  height: 28px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (max-width: 479px) {
  .mob-contacts-link-email {
    font-size: 21px;
  }
}

.mob-contacts-link {
  width: 296px;
  height: 40px;
  padding-bottom: 35px;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}
@media screen and (max-width: 479px) {
  .mob-contacts-link {
    font-size: 29px;
  }
}

.bot {
  padding-bottom: 265px;
}

.soc-mob-list {
  display: flex;
  padding-top: 64px;
  padding-bottom: 48px;
}

.soc-mob-item {
  padding-right: 10px;
}
.soc-mob-item:not(:first-child) {
  padding-left: 10px;
}
.soc-mob-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.soc-mob-link {
  text-decoration: none;
  width: 85px;
  height: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (max-width: 479px) {
  .soc-mob-link {
    font-size: 12px;
  }
}

.border-mob {
  position: absolute;
  width: 22px;
  height: 0px;
}

.hero {
  background-color: var(--footer-background-color);
}
.hero .container {
  padding: 0;
}
@media screen and (min-width: 480px) {
  .hero {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
  }
}

.top-part {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mob.jpg");
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .top-part {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .top-part {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .top-part {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .top-part {
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .top-part {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop-2x.jpg");
  }
}

.hero__title {
  padding: 118px 60px 30px 60px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: auto;
  justify-content: center;
}
@media screen and (max-width: 479px) {
  .hero__title {
    padding: 95px 30px 30px 30px;
    font-size: 23px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding: 118px 204px 30px 204px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    padding-top: 200px;
  }
}

.hero__button {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0 auto 0 auto;
  padding: 10px 32px;
}
@media screen and (max-width: 479px) {
  .hero__button {
    padding: 6px 20px;
  }
}
.hero__button:hover {
  background-color: var(--accent-secondary-color);
}
@media screen and (min-width: 1200px) {
  .hero__button {
    margin-bottom: 200px;
  }
}

.buttons-nav {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .buttons-nav {
    padding: 94px;
  }
}

.buttons-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 15px;
  column-gap: 8px;
  padding-top: 0;
}
@media screen and (min-width: 786px) {
  .buttons-nav__list {
    justify-content: center;
  }
}

.buttons-nav__current {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-nav__current:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.btn {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.prj {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .prj {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .prj {
    padding-top: 50px;
    padding-bottom: 94px;
  }
}

.projects__item {
  width: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .projects__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    width: calc((100% - 60px) / 3);
  }
}
.projects__item:hover, .projects__item:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projects__hover-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.projects__item:hover .projects__hover-text {
  transform: translateY(0%);
}

.projects__wrap {
  position: relative;
  overflow: hidden;
}

/*-------------container-project--------------*/
.projects__wrap-text {
  padding: 20px 24px;
  border: 1px solid var(--border-main-color);
  border: 1px solid #ececec;
  border-top: none;
  flex-grow: 1;
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.projects__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
}

.benefits__list {
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    margin-top: 0;
  }
}

.benefits__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
    padding-top: 94px;
  }
}

.benefits__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--page-bottom-color);
  margin-bottom: 30px;
}

.benefits__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.benefits__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.employment {
  padding: 94px 0;
}
@media screen and (max-width: 1199px) {
  .employment {
    display: none;
  }
}

.employment__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.employment__list {
  display: flex;
}

.employment__item {
  position: relative;
}
.employment__item:not(:first-child) {
  margin-left: 30px;
}

.employment__text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.specialists {
  padding-bottom: 60px;
  background-color: var(--page-bottom-color);
}
@media screen and (min-width: 1200px) {
  .specialists {
    padding-bottom: 94px;
  }
}

.specialists__title {
  padding-top: 60px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .specialists__title {
    padding-top: 94px;
  }
}

.specialists__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.specialists__item {
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .specialists__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .specialists__item {
    width: calc((100% - 90px) / 4);
  }
}

.specialist {
  padding-top: 30px 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.specialist__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 30px;
  color: var(--title-text-color);
}

.specialist__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*---------social---------*/
.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
  gap: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.social__link .social__icon:hover {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.clients {
  padding-bottom: 60px;
}

.clients__title {
  padding-top: 60px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  flex-wrap: wrap;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    padding-top: 94px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}

.clients__item {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
    padding-bottom: 94px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--social-color);
  border-radius: 4px;
  fill: var(--social-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon:hover {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer > .container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
}

.logo-footer {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    margin: 0;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 75px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    padding: 0;
    align-items: flex-start;
    margin-bottom: 0px;
  }
}

.main-bottom {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.bottom {
  font-family: "Roboto", sans-serif;
  color: var(--white-color);
}

.basement__list {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .basement__list {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .site-contact-email {
    margin-left: 76px;
  }
}

.email {
  margin-top: 8px;
}

.basement__address {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.site-contacts-email {
  margin-bottom: 8px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.site-contacts-telephone {
  margin-bottom: 8px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.clone {
  padding-top: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .clone {
    padding-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .clone {
    padding-top: 0px;
    text-align: left;
    margin-left: 70px;
  }
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-social__list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-social__list {
    padding-bottom: 0px;
  }
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--social-bg-color);
  border-radius: 50%;
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: currentColor;
}

.sbc {
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .sbc {
    display: flex;
  }
}

.subscribe__name {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__name {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .subscribe__correct {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__correct {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
  }
}

.subscribe__input {
  padding-left: 16px;
  height: 50px;
  width: 100%;
  max-width: 450px;
  border-color: rgba(255, 255, 255, 0.3019607843);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: var(--white-color);
}
.subscribe__input:focus-visible {
  outline-color: var(--accent-color);
}
.subscribe__input:not(:placeholder-shown):required:valid {
  border-color: var(--accent-color);
}
.subscribe__input:not(:placeholder-shown):required {
  border-color: red;
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 350px;
  }
}

.subscribe__button {
  padding: 10px 28px;
  margin: 20px auto 0 auto;
  text-align: center;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-color);
}
.subscribe__button:hover, .subscribe__button:focus {
  background-color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-top: 0;
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
  fill: var(--white-color);
}

.bdp {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-container {
  transform: translate(-50%, -50%) scale(0) rotate(360deg);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.section {
  background-color: var(--modal-bg);
  border-radius: 4px;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .section {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    width: 528px;
  }
}

.modal-container__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.modal-container__close:hover, .modal-container__close:focus {
  fill: var(--accent-color);
}

.modal-container__vector {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}
.modal-container__vector:hover {
  border: var(--accent-color);
}

.modal {
  padding: 40px;
}
@media screen and (min-width: 320px) {
  .modal {
    padding: 40px 25px 25px 25px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

@media screen and (min-width: 480px) {
  .modal-container.section {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-container.section {
    width: 528px;
    height: 581px;
  }
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.modal__label span,
.modal__form {
  font-size: 12px;
  margin-bottom: 4px;
  padding: 4px;
  display: block;
}

.modal__field {
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  position: relative;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  margin-left: 4px;
  color: #757575;
}
.modal__label span {
  margin-bottom: 5px;
  display: block;
}

.modal__wrap {
  position: relative;
}

.modal__input {
  border-radius: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid;
  padding-left: 30px;
  color: rgba(33, 33, 33, 0.2);
  font-weight: 600;
  font-size: 14px;
  outline: none;
  margin: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input::placeholder {
  font-size: 12px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.2);
}
.modal__input:focus {
  color: var(--accent-secondary-color);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal__input + .modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*----------------commentary------------------*/
.modal__comment-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  outline: none;
  resize: none;
  margin: 4px;
}

.modal__comment-text:focus {
  border: 1px solid var(--accent-color);
}

.user-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check {
  margin-bottom: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  position: relative;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}

.check__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check__input:focus + .check__check .check__span {
  border-color: var(--accent-color);
}

.check__check {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  .check__check {
    font-size: 12px;
  }
}

.check__check .check__span {
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  align-items: flex-end;
}

.check__input:checked + .check__check .check__span {
  fill: var(--white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__icon {
  display: block;
  width: 13px;
  height: 11px;
  fill: var(--white-color);
  stroke: var(--white-color);
}

.check__link {
  color: var(--accent-secondary-color);
}

.check-btn {
  display: block;
  margin: 30px auto 0 auto;
  padding: 10px 55px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-btn:hover, .check-btn:focus {
  background-color: var(--accent-secondary-color);
}
@media screen and (max-width: 479px) {
  .check-btn {
    padding: 6px 45px;
    font-size: 13px;
    margin: -8px auto 0 auto;
  }
}/*# sourceMappingURL=main.css.map */