:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --header-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --center-page-color: #e5e5e5;
  --page-bottom-color: #f5f4fa;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --logo-style: #000000;
  --text-transpwhite-color: #ffffff99;
  --accent-secondary-color: #188ce8;
  --border-main-color: #ececec;
  --social-color: #afb1b8;
  --social-bg-color: #ffffff1a;

  --backdrop-bg: rgba(0, 0, 0, 0.2);
  --modal-bg: #fff;
}
