.haader > .site-contacts .connection {
  @media screen and (max-width: 767px) {
    display: none;
  }
  // @media screen and (min-width: 768px) {
  //   padding-left: 96px;
  // }
}

.site-contacts {
  &__email {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      padding-right: 30px;
    }
  }

  &__telephone {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.connection {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  padding-left: 0;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

// .contacts {
//   margin-right: 15px;
// }

.site-contacts-link,
.info:hover {
  color: var(--accent-color);
}

.info {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 3px;
}

/*------------icons------------*/

.site-contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}
