.modal {
  padding: 40px;
  @media screen and (min-width: 320px) {
    padding: 40px 25px 25px 25px;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
    padding: 40px;
  }
  // @media screen and (min-width: 320px) {
  //   padding: 25px;
  // }
}

.modal-container.section {
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
  }
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.modal__label span,
.modal__form {
  font-size: 12px;
  margin-bottom: 4px;
  padding: 4px;
  display: block;
}

.modal__field {
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  position: relative;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  margin-left: 4px;
  color: #757575;
  & span {
    margin-bottom: 5px;
    display: block;
  }
}

.modal__wrap {
  position: relative;
}

.modal__input {
  border-radius: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid;
  padding-left: 30px;
  color: rgba(33, 33, 33, 0.2);
  font-weight: 600;
  font-size: 14px;
  outline: none;
  margin: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-size: 12px;
    font-weight: 400;
    color: rgba(33, 33, 33, 0.2);
  }
  &:focus {
    color: var(--accent-secondary-color);
  }
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  .modal__input + & {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*----------------commentary------------------*/

.modal__comment-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  outline: none;
  resize: none;
  margin: 4px;
}

.modal__comment-text:focus {
  border: 1px solid var(--accent-color);
}

.user-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
