.check {
  margin-bottom: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  position: relative;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}

.check__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check__input:focus + .check__check .check__span {
  border-color: var(--accent-color);
}

.check__check {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  @media screen and (min-width: 480px) {
    font-size: 12px;
  }
}

.check__check .check__span {
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  align-items: flex-end;
}

.check__input:checked + .check__check .check__span {
  fill: var(--white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__icon {
  display: block;
  width: 13px;
  height: 11px;
  fill: var(--white-color);
  stroke: var(--white-color);
}

.check__link {
  color: var(--accent-secondary-color);
}

.check-btn {
  display: block;
  margin: 30px auto 0 auto;
  padding: 10px 55px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-secondary-color);
  }
  @media screen and (max-width: 479px) {
    padding: 6px 45px;
    font-size: 13px;
    margin: -8px auto 0 auto;
  }
}
